<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>FOTU_KLIK</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/templatemo-ocean-vibes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--
    
TemplateMo 554 Ocean Vibes

https://templatemo.com/tm-554-ocean-vibes

-->
</head>

<body>
    <!-- MODAL SCRIPT API GOOGLE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div class="container">
        <section class="sec1">
            <header class="tm-site-header">
                <h3 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">FOTU_KLIK</span> <span class="tm-color-gray-2">PHOTOGRAPHY</span></h3>
            </header>
            <div class="tm-container">
                <nav class="tm-main-nav">
                    <ul id="inline-popups">
                        <li class="tm-nav-item">
                            <a href="#intro">
                                Introduction
                                <i class="fas fa-2x fa-water"></i>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <div class="dropdown">
                                <button class="dropbtn">Gallery
                                    <i class="far fa-2x fa-images"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#gallery">Link 1</a>
                                    <a href="#nature">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </div>
                            <a href="#gallery" id="tm-gallery-link">
                                Gallery
                                <i class="far fa-2x fa-images"></i>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#about">
                                About
                                <i class="fas fa-2x fa-tint"></i>
                            </a>
                        </li>
                        <li class="tm-nav-item">
                            <a href="#contact">
                                Contact
                                <i class="far fa-2x fa-comments"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="tm-container">
            <!-- Popup itself -->
            <div id="intro" class="popup mfp-with-anim mfp-hide tm-bg-gray">
                <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
                <div class="tm-row tm-intro-row">
                    <img src="img/intro.jpg" alt="Image" class="tm-intro-img">
                    <div class="tm-col tm-bg-white tm-intro-pad">
                        <h2 class="tm-color-primary tm-page-title">Introducing FOTU_KLIK</h2>
                        <div class="tm-row tm-content-row">
                            <div class="tm-col-6 tm-intro-col-l">
                                <p>
                                    This FOTU_KLIK PHOTOGRAPHY is a photography site made by fotu_klik. You can apply this as a CMS theme or a custom website builder template. </p>
                                <p>
                                    You can support our website by contributing a little via
                                    <a rel="nofollow" href="http://paypal.me/templatemo" target="_parent"><strong>Gpay</strong></a> or <a rel="nofollow" href="http://paypal.me/templatemo" target="_parent"><strong> Paytm </strong></a> or spreading a word
                                    about FOTU_KLIK to your friends. If you have any question, feel free to send us a message.
                                </p>

                            </div>
                            <div class="tm-col-6">
                                <p>
                                    You are not allowed to re-use the images used in this website.
                                </p>
                                <p class="tm-mb-80">
                                    Next Page will bring you to the gallery page.
                                </p>
                                <div class="tm-text-center">
                                    <a href="#gallery" class="tm-btn tm-btn-primary mfp-prevent-close tm-btn-next">
                                    Next Page
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gallery" class="popup mfp-with-anim mfp-hide tm-bg-gray">
                <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
                <div class="tm-row tm-gallery-row">
                    <div class="tm-gallery">
                        <div class="tm-gallery-container">
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/boy-01.jpg" alt="boy-01" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/nature-01.webp" alt="nature-01" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/bulb-01.jpg" alt="bulb" />

                            </figure>
                            <figure class="tm-gallery-item animal">
                                <img class="myImg" src="img/gallery/Frog.webp" alt="frog" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-01.jpg" alt="chickenrecipe-01" />
                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/boy-02.jpg" alt="chickenrecipe-01" />
                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-02.jpg" alt="chickenrecipe-02" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-03.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-04.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/chickenrecipe-05.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-06.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item food">
                                <img class="myImg" src="img/gallery/chickenrecipe-07.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-03.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/portrait-04.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item animal">
                                <video width="240" height="240" controls>
                                    <source class="myImg" src="img/gallery/neilgaye.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                </video>

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-04.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/portrait-05.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item animal">
                                <img class="myImg" src="img/gallery/animal-05.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-05.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/portrait-06.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item animal">
                                <img class="myImg" src="img/gallery/animal-06.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-06.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/portrait-07.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item animal">
                                <img class="myImg" src="img/gallery/animal-07.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-07.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item portrait">
                                <img class="myImg" src="img/gallery/portrait-08.jpg" alt="Image" />

                            </figure>

                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/nature-01.webp" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/evening-01.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/evening-02.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/sunset-01.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/sunset-02.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/water-01.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item nature">
                                <img class="myImg" src="img/gallery/water-02.jpg" alt="Image" />

                            </figure>

                            <figure class="effect-chico tm-gallery-item animal">
                                <img class="myImg" src="img/gallery/animal-08.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item building">
                                <img class="myImg" src="img/gallery/building-08.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/welding-01.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/welding-02.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/welding-03.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/toy-01.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/toy-02.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/toy-03.jpg" alt="Image" />

                            </figure>
                            <figure class="effect-chico tm-gallery-item other">
                                <img class="myImg" src="img/gallery/qoute-01.webp" alt="Image" />
                            </figure>

                            <!-- IMAGE POPUP MODAL -->
                            <div id="myModal" class="modal">
                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                <!-- MODAL CONTENT (IMAGE) -->
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery navigation and description -->

                    </select>
                    <div class="tm-col tm-gallery-right">
                        <h2 class="tm-color-primary tm-mt-35 tm-page-title">Gallery</h2>
                        <div class="tm-gallery-right-inner">
                            <ul class="tm-gallery-links">
                                <li>
                                    <a href="#" class="active tm-gallery-link" data-filter="*">
                                        <i class="fas fa-layer-group tm-gallery-link-icon"></i> All
                                    </a>
                                </li>
                                <li>
                                    <a href="#portrait" class="tm-gallery-link" data-filter="portrait">
                                        <i class="fas fa-portrait tm-gallery-link-icon"></i> Portraits
                                    </a>
                                </li>
                                <li>
                                    <a href="#nature" id="nature" class="tm-gallery-link" data-filter="nature">
                                        <i class="fas fa-leaf tm-gallery-link-icon"></i> Nature
                                    </a>
                                </li>
                                <li>
                                    <a href="#food" class="tm-gallery-link" data-filter="food">
                                        <i class="fas fa-bread-slice tm-gallery-link-icon"></i> Food
                                    </a>
                                </li>
                                <li>
                                    <a href="#animal" class="tm-gallery-link" data-filter="animal">
                                        <i class="fas fa-paw tm-gallery-link-icon"></i> Animals
                                    </a>
                                </li>
                                <li>
                                    <a href="#building" class="tm-gallery-link" data-filter="building">
                                        <i class="far fa-building tm-gallery-link-icon"></i> Buildings
                                    </a>
                                </li>
                                <li>
                                    <a href="#other" class="tm-gallery-link" data-filter="other">
                                        <i class="fas fa fa-plus tm-gallery-link-icon"></i> Others
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Different icons are used for different categories. There are 4 or more pages of photos in this gallery. Each thumbnail has a nice hover effect.
                            </p>
                            <p>
                                Proin lacus enim, finibus sed magna a, molestie lacinia est. Maecenas id dolor lorem. Donec sodales ex velit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about" class="popup mfp-with-anim mfp-hide tm-bg-gray">
                <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
                <h2 class="tm-color-primary tm-about-col tm-mb-40 tm-page-title">About Ocean Vibes</h2>
                <div class="tm-row tm-about-row">
                    <div class="tm-col tm-about-col tm-about-left">
                        <img src="img/about.jpg" alt="Image" class="tm-mb-30">
                        <p class="tm-mb-40">
                            Suspendisse sit amet pellentesque nunc. Vivamus fringilla tellus finibus lacus blandit, siet amet aliquet augue sagittis. Duis nec auctor felis, nec ornare ex. In non ante ligula.
                        </p>
                        <p class="tm-mb-40">
                            Curabitur non augue dignissim est pulvibar lobortis. Nunc vulputate, mi vel cursus mollis, justo mauris rutrum dui, id egestas ante ligula id nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                    </div>
                    <div class="tm-col tm-about-col">
                        <p class="tm-mb-40">
                            You are NOT allowed to re-distribute this template ZIP file on any website that <span class="tm-color-primary">collects and reposts</span> free templates from many different websites.
                        </p>
                        <p class="tm-mb-40">
                            Pellentesque vitae ipsum vel risus molestie cursus nec quis lectus. Duis egestas lorem eu nisi finibus, sit amet elementum lacus pretium. In tempor felis vitae nulla feugiat aliquam.
                        </p>
                        <p class="tm-mb-40">
                            If you need a working HTML contact form, please visit our <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact page</a>. </p>
                        <a href="#" class="tm-btn tm-btn-primary mfp-prevent-close tm-btn-contact tm-mb-40">
                        Contact Us
                    </a>
                    </div>
                </div>
            </div>

            <div id="contact" class="popup mfp-with-anim mfp-hide tm-bg-gray">
                <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
                <h2 class="tm-contact-col tm-color-primary tm-page-title tm-mb-40">Contact Us</h2>
                <div class="tm-row tm-contact-row">
                    <div class="tm-col tm-contact-col">

                        <!-- Do you need a working HTML contact form?
                	Please visit https://templatemo.com/contact page -->

                        <form id="contact-form" action="" method="POST" class="tm-contact-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control rounded-0" placeholder="Full Name" required />
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control rounded-0" placeholder="Email" required />
                            </div>
                            <div class="form-group">
                                <!-- <select class="form-control" id="contact-select" name="inquiry">
                                <option value="-">Subject</option>
                                <option value="sales">Sales &amp; Marketing</option>
                                <option value="creative">Creative Design</option>
                                <option value="uiux">UI / UX</option>
                            </select> -->
                            </div>
                            <div class="form-group">
                                <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Message" required=></textarea>
                            </div>

                            <div class="form-group tm-text-right">
                                <button type="submit" class="tm-btn tm-btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="tm-col tm-contact-col tm-contact-col-r">
                        <!-- Map -->
                        <div class="mapouter tm-mb-40">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="520" id="gmap_canvas" src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>

                        <!-- Address -->
                        <address class="tm-mb-40">
                        110-220 Nam vel ultricies mauris,<br>
                        Et gravida eros 10220
                    </address>

                        <!-- Links -->
                        <ul class="tm-contact-links">
                            <li>
                                <a href="tel:0100200340">
                                    <i class="fas fa-phone tm-contact-link-icon"></i> Tel: 010-020-0340
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@company.com">
                                    <i class="fas fa-at tm-contact-link-icon"></i> Email: info@company.com
                                </a>
                            </li>
                            <li>
                                <a href="https://www.company.com">
                                    <i class="fas fa-link tm-contact-link-icon"></i> URL: www.company.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="sec3">
            <footer class="tm-footer">
                <span>Copyright &copy; 2021 FOTU_KLIK</span>
                <div id="social-media">
                    <a href="https://www.instagram.com/sumeetkr860/" title="" class="fa-icon">
                        <i class="fa fa-instagram" style="font-size: 24px; color: red;"></i>
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com">
                        <i class="fa fa-facebook-official" style="font-size: 24px; color:blue"></i>
                    </a>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-phone" style="font-size: 24px; color: black"></i>
                </div>
            </footer>
        </section>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/templatemo-script.js"></script>

</body>

</html>